.contact-section-bg-wrapper {
  background: url("../../images/contact/1.jpg") center center/cover no-repeat local;
  position: relative;
  background-attachment: fixed;
}

.contact-section-bg-wrapper:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.contact-section-bg-wrapper > .container {
  position: relative;
  z-index: 2;
}