.contact-area:before {
  /* Отключаем все свойства */
  content: none !important;
  background-color: transparent !important;
  width: auto !important;
  height: auto !important;
  position: static !important;
  left: auto !important;
  top: auto !important;
  display: none !important;
}
