.header-top,
.header-top-1 {
  background: #fff;
  padding: 5px 0px;
}
.header-top ul.header-contact,
.header-top-1 ul.header-contact {
  text-align: right;
}
.header-top li,
.header-top-1 li {
  display: inline-block;
  padding: 5px;
  color: #333;
}
.header-top li i,
.header-top-1 li i {
  color: #333;
}

.header-style-2 {
  position: relative;
  z-index: 999;
  background: #231b0e;
}
.header-top-1 .container .row {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
}

.header-top-1 {
  padding: 0;
}
.header-style-1 {
  background: #0c5050;
  /* background: #fff; */
}
.header-style-1 .main-menu,
.header-style-2 .main-menu,
.header-style-3 .main-menu {
  text-align: right;
}
.header-top ul.header-social,
.header-top-1 ul.header-social {
  position: relative;
  justify-content: flex-end;
}
.header-top ul.header-social li:last-child,
.header-top-1 ul.header-social li:last-child {
  padding-right: 0;
}

.header-middle {
  padding: 20px 0;
}
.account_login-area {
  margin-top: 4px;
}
.account_login-area li:first-child {
  padding-left: 0;
  padding-right: 30px;
}
.account_login-area li i {
  color: #333;
  margin-right: 10px;
}

.header-top-1 .btn-style {
  text-align: right;
}
.logo {
  margin: 0 0 10px 10px;
}

@media screen and (max-width: 767px) {
  .logo img {
    /* margin: auto 0; */
    height: 40px;
    /* margin-top: 10px; */
  }
}
.main-menu .submenu li a {
  padding: 10px 15px 10px 0px;
  color: #333;
  font-size: 14px;
}

.main-menu .submenu li {
  border-bottom: 1px solid #f1f1f1;
}
.main-menu .submenu li:last-child {
  border-bottom: none;
}
.main-menu nav ul li {
  display: inline-block;
  position: relative;
}
.main-menu nav ul li a:last-child {
  padding-right: 0;
}
.main-menu nav ul li {
  padding: 13px 18px;
}
.main-menu nav ul li:first-child {
  padding-left: 0;
}
.main-menu nav ul li > ul li:first-child {
  padding-left: 15px;
}
.main-menu nav ul li a {
  display: block;
  font-size: 15px;
  font-weight: 600;
  /* color: #333; */
  color: #fff;
  letter-spacing: 0;
  text-transform: capitalize;
  position: relative;
}
.main-menu nav ul li a:before {
  position: absolute;
  content: "";
  left: -20px;
  bottom: -13px;
  width: 100%;
  height: 5px;
  background: #eee;
  opacity: 0;
  transition: all 0.5s;
}

.main-menu nav ul li a:hover:before {
  opacity: 1;
  left: 0px;
}
.main-menu nav ul li.active :before {
  opacity: 1;
  left: 0px;
}

.main-menu nav ul li > ul li a {
  color: #333;
}
.main-menu nav ul li > ul li a:hover {
  color: #d0a15e;
}

.main-menu .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  z-index: 999;
  width: 235px;
  padding: 0;
  background: #fff;
  text-align: left;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.main-menu nav > ul > li:hover > .submenu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.header-style-1 .main-menu nav ul li a:before,
.header-style-2 .main-menu nav ul li a:before,
.header-style-3 .main-menu nav ul li a:before {
  display: none;
}
.header-style-1 .main-menu nav ul li,
.header-style-2 .main-menu nav ul li,
.header-style-3 .main-menu nav ul li {
  padding: 35px 18px;
}
.header-style-1 .main-menu nav ul li:last-child,
.header-style-2 .main-menu nav ul li:last-child,
.header-style-3 .main-menu nav ul li:last-child {
  padding-right: 0;
}
.header-style-1 .logo,
.header-style-2 .logo,
.header-style-3 .logo {
  margin-top: 10px;
}
.col-t {
  padding-left: 0;
}
.main-menu .submenu li {
  display: block;
}
.main-menu .submenu li a:before {
  display: none;
}
.main-menu .submenu li {
  padding: 2px 15px;
}
.main-menu .submenu-2 {
  left: 0;
}

.header-style-1 .main-menu .submenu li,
.header-style-2 .main-menu .submenu li,
.header-style-3 .main-menu .submenu li {
  padding: 2px 15px;
}

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1200;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
}
.header-style-2.sticky {
  background: #231b0e;
}
.header-style-2 .main-menu nav ul li a {
  color: #fff;
}
.header-style-2 .logo {
  margin-top: 15px;
}

.btn-style2 {
  text-align: right;
}
.btn-style a {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 10px 28px;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 3px;
  /* border-radius: 5px; */
  background: #ff7b00;
  /* background: -webkit-linear-gradient(left, #9e7044, #d0a15e); */
  position: relative;
  z-index: 11;
  transition: all 0.3s;
}

.btn-style a:hover {
  color: #fff;
}
.header-middle .btn-style a {
  font-size: 13px;
}
.slide-caption .btn-style2 {
  text-align: right;
}
.slide-caption .btn-style a {
  color: #fff;
}
.search {
  text-align: right;
}
.header-style-1 .search,
.header-style-2 .search,
.header-style-3 .search {
  text-align: right;
  padding-right: 15px;
}
.search ul li a {
  text-align: right;
  color: #333;
}
.search ul li a i {
  margin-top: 17px;
  padding-bottom: 15px;
  color: #fff;
}
.search ul li > ul {
  position: absolute;
  right: 0;
  top: 150%;
  width: 263px;
  background: #fff;
  z-index: 99;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
}
.search ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.header-style-1 .search ul li > ul,
.header-style-2 .search ul li > ul,
.header-style-3 .search ul li > ul {
  right: -11px;
}
.search ul li > ul form {
  position: relative;
}
.search ul li > ul input {
  background: #fff;
  width: 100%;
  height: 40px;
  padding: 0 40px 0 10px;
}
.search ul li > ul input:focus {
  outline: none;
  border: 1px solid #ccc;
}
.search ul li > ul button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: #d0a15e;
  color: #fff;
  border: none;
  cursor: pointer;
}
.search ul li > ul button:hover {
  background: #9e7044;
}
.search ul li:last-child a {
  padding-right: 0;
}

.header-style-2 .search ul li a i {
  color: #fff;
}
.header-style-1 .search ul li a i,
.header-style-2 .search ul li a i,
.header-style-3 .search ul li a i {
  margin-top: 40px;
  padding-bottom: 36px;
  color: #333;
}
.header-style-2 .search ul li a i {
  color: #fff;
}
.header-style-2 .main-menu nav ul li > ul li a {
  color: #333;
}
.main-menu nav ul li a:hover {
  color: #f8ac65;
}
.header-style-2 .main-menu nav ul li > ul li a:hover {
  color: #d0a15e;
}

.header-style-3 {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.header-style-3 .logo {
  margin-top: 16px;
}
.header-style-3 .search ul li a i {
  color: #fff;
}
.header-style-3 .search ul li a i {
  color: #fff;
}
.header-style-3 .main-menu nav ul li a {
  color: #fff;
}
.header-style-3 .main-menu nav ul li > ul li a {
  color: #333;
}
.header-style-3 .main-menu nav ul li > ul li a:hover {
  color: #d0a15e;
}

.main-menu li a.active {
  border-bottom: 2px solid #ff7b00;
  color: #ff7b00;
}

.main-menu li a:hover {
  color: #ff7b00;
}

.language-switcher {
  position: absolute !important;
  right: -170px !important;
}

.language-switcher-modern {
  position: relative;
  display: inline-block;
}

.lang-button-modern {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background: #0c5050;
  border: 1px solid #f8f8f8;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-weight: 600;
  color: #fff;
}

.lang-flag {
  font-size: 18px;
  line-height: 1;
}

.lang-code-modern {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.lang-chevron {
  transition: transform 0.3s ease;
  color: currentColor;
}

.lang-chevron.open {
  transform: rotate(180deg);
}

.lang-dropdown-modern {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background: #fff;
  border: 2px solid #0c5050;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  min-width: 180px;
  z-index: 1000;
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.lang-option-modern {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 12px 16px;
  background: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: inherit;
  text-align: left;
  position: relative;
}

.lang-option-modern:hover {
  background: linear-gradient(90deg, rgba(12, 80, 80, 0.1), rgba(255, 123, 0, 0.1));
}

.lang-option-modern.active {
  background: linear-gradient(90deg, rgba(12, 80, 80, 0.15), rgba(255, 123, 0, 0.15));
  font-weight: 600;
}

.lang-option-modern:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}

.lang-name-modern {
  flex: 1;
  font-size: 14px;
  color: #333;
}

.lang-check-icon {
  margin-left: auto;
}
