
.features-area .features-item-2 {
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
    padding: 20px 0 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.features-area .features-content {
    margin-top: 15px;
    text-align: center;
}

.features-area .features-icon {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.features-area .features-icon i.fi {
    padding: 0;
    width: 100px;
    height: 100px;
    background: #fff;
    line-height: 100px;
    text-align: center;
    color: #d0a15e;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    transition: all .5s;
}

.features-area {
    background: #fff;
    padding: 30px 0 0;
    border-bottom: 1px solid #f1f1f1;
}

.features-area .features-content p a:hover {
    color: #199ca4;
}

.features-content h3 {
    color: #444;
    font-size: 30px;
    margin-top: 5px;
}
.features-area .features-content p {
    font-size: 16px;
    color: #777;
}

.features-area .features-content p {
    margin-bottom: 0px;
}