.features-area { 
    background: #fff; 
    padding: 30px 0 0; 
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    overflow: hidden;
}

.features-area .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.features-area .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.features-area .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    z-index: 1;
}

.features-area .container {
    position: relative;
    z-index: 2;
}

.features-area .row {
    display: flex;
    flex-wrap: wrap;
}

.features-area .row > [class*='col-'] {
    display: flex;
}

.features-area .features-item-2 { 
    margin-bottom: 30px; 
    -webkit-box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1); 
    -moz-box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1); 
    box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1); 
    padding: 20px 15px 25px; 
    background: #fff;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    min-height: 280px;
    width: 100%;
} 
 
.features-area .features-content { 
    margin-top: 15px; 
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
 
.features-area .features-icon { 
    margin-top: 0; 
    display: flex; 
    justify-content: center;
    flex-shrink: 0;
} 
 
.features-area .features-icon i.fi { 
    padding: 0; 
    width: 100px; 
    height: 100px; 
    background: #fff; 
    line-height: 100px; 
    text-align: center; 
    color: #d0a15e; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: all .5s; 
} 
 
.features-area .features-content p a:hover { 
    color: #199ca4; 
} 
 
.features-content h3 { 
    color: #444; 
    font-size: 30px; 
    margin-top: 5px; 
} 
.features-area .features-content p { 
    font-size: 16px; 
    color: #777; 
    margin-bottom: 0px; 
}