.testimonial-area {
  position: relative;
  overflow: hidden;
}

.testimonial-area .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.testimonial-area .video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.testimonial-area .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 1;
}

.testimonial-area .container {
  position: relative;
  z-index: 2;
}

.my-testimonial .inner-content {
  padding: 40px 30px 30px 40px;
  position: relative;
  background: #f5f5f5;
  margin: 15px;
}

.my-testimonial .inner-content .content {
  padding-left: 115px;
  position: relative;
  border-top: 1px solid rgba(128, 128, 128, 0.081);
  padding-top: 15px;
}

.my-testimonial .inner-content .image-box {
  border-radius: 50%;
  height: 90px;
  left: 0;
  margin-bottom: 20px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 90px;
}

@media (min-height: 768px) {
  .content {
    height: 92px;
  }
}

@media (max-height: 768px) {
  .my-testimonial .inner-content .image-box {
    margin-top: 30px ;
    height: 70px;
    width: 70px;
  }
  .my-testimonial .inner-content .image-box {
    top: 0;
  }
}

.my-testimonial .inner-content h4 {
  color: #444;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}

.my-testimonial .inner-content .quote-icon {
  color: #ff7b00;
  font-size: 36px;
  line-height: 1em;
  position: absolute;
  right: 0;
  top: 15px;
}

.my-testimonial .inner-content .designation {
  color: #666;
  margin-bottom: 12px;
  position: relative;
}

.my-testimonial .inner-content .text {
  color: #606060;
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
}

.testimonial-active .slick-dots li button:before {
  color: #bbb;
}

.testimonial-active .slick-dots li.slick-active button:before {
  color: #ff7b00;
}